body {
  margin: 0;
  background: #0F1724;
  font-family: Arial, sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
}

.sidebar {
  width: 260px;
  background: #1A1A1D;
  padding: 1rem;
  border-radius: 16px;
  height: fit-content;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.sidebar h3 {
  margin-top: 0;
  color: #00D1FF;
}

.sidebar .item {
  background: #131316;
  padding: .75rem;
  border-radius: 12px;
  margin-bottom: .75rem;
  border: 1px solid #8A2BE2;
}

header {
  width: 100%;
  padding: 1rem 0;
}

header h1 {
  text-align: center;
  font-size: 1.6rem;
  background: linear-gradient(to right, #8A2BE2, #00D1FF);
  background-clip: text;
  color: transparent;
}

.feed {
  flex: 1;
}

/* --- Create Post Box --- */
.create-post {
  background: #1A1A1D;
  padding: 1rem;
  border-radius: 16px;
  margin-bottom: 1.2rem;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

textarea, input {
  width: 100%;
  padding: .75rem;
  border-radius: 12px;
  border: 1px solid #8A2BE2;
  background: #0F1724;
  color: #fff;
  resize: none;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  padding: .75rem;
  background: linear-gradient(to right, #8A2BE2, #00D1FF);
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}


.post {
  background: #1A1A1D;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  margin-bottom: 1.2rem;
  border-left: 3px solid #8A2BE2;
}

.post-header {
  font-size: 2.5rem;
  opacity: 0.8;
  margin-bottom: .5rem;
}

.post img {
  width: 100%;
  border-radius: 12px;
  margin-top: .75rem;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  margin-top: .75rem;
}

.ez-button {
  cursor: pointer;
  border-radius: 10px;
  background: #131316;
  padding: 5px 20px;
  border: 1px solid green;
}
.join {
  cursor: pointer;
  border-radius: 10px;
  background: #131316;
  padding: 5px 20px;
  border: 1px solid blueviolet;
  background-color: blueviolet;
}
.medium-button {
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 10px;
  background: #131316;
  border: 1px solid yellowgreen;
}
.hard-button {
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 10px;
  background: #131316;
  border: 1px solid orangered;
}
.medium-button:hover {
  background: yellowgreen;
}
.ez-button:hover {
    background: green;
    }
.hard-button:hover {
  background: orangered;
}

@media (max-width: 880px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
  }
}
input[id="postDifficultyHard"].checked + .hard-button {
    background-color: orangered; 
}

input[id="postDifficultyMedium"].checked + .medium-button {
    background-color: yellowgreen; 
}
input[id="postDifficultyEasy"].checked + .ez-button {
    background-color: green; 
}